<script>
  export let column = false
  export let fill = false
</script>

<div class={[column ? 'column' : 'row', ...(fill ? ['fill'] : [])].join(' ')}>
  <slot />
</div>

<style>
  div {
    display: flex;
  }

  .row {
    flex-direction: row;
  }

  .column {
    flex-direction: column;
  }

  .fill {
    width: 100%;
    height: 100%;
  }
</style>
