<script>
  import EventChannel from './EventChannel'
  import Box from './Box.svelte'
  import { v4 as uuidv4 } from 'uuid'

  function srcObject(node, stream) {
    node.srcObject = stream
    return {
      update(newStream) {
        if (node.srcObject !== newStream) {
          node.srcObject = newStream
        }
      },
    }
  }

  let connection = new RTCPeerConnection({
    iceServers: [{ urls: 'stun:stun.l.google.com:19302' }],
  })

  let remoteId

  let localStream
  const remoteStream = new MediaStream()

  connection.addEventListener('track', async ({ track }) => {
    remoteStream.addTrack(track, remoteStream)
  })

  const nick = uuidv4()

  navigator.mediaDevices
    .getUserMedia({
      video: {
        facingMode: 'user',
      },
      audio: {
        echoCancellation: true,
        autoGainControl: true,
        noiseSuppression: true,
      },
    })
    .then(stream => {
      localStream = stream

      for (const track of localStream.getTracks()) {
        connection.addTrack(track, localStream)
      }
    })

  let channel

  new EventChannel(nick).then(newChannel => {
    channel = newChannel

    channel.on('error', console.error)

    channel.on('offer', async (remote, offer) => {
      remoteId = remote
      connection.setRemoteDescription(offer)
      const answer = await connection.createAnswer()
      await connection.setLocalDescription(answer)
      channel.emit(remote, 'answer', answer)
    })

    channel.on('answer', async (_remote, answer) => {
      await connection.setRemoteDescription(answer)
    })

    channel.on('icecandidate', async (_remote, candidate) => {
      await connection.addIceCandidate(candidate)
    })

    connection.addEventListener('icecandidate', evt => {
      if (evt.candidate) {
        channel.emit(remoteId, 'icecandidate', evt.candidate)
      }
    })
  })

  async function makeCall() {
    const offer = await connection.createOffer()
    await connection.setLocalDescription(offer)
    channel.emit(remoteId, 'offer', offer)
  }
</script>

<Box column fill>
  <Box column>
    <p>Your ID is {nick}</p>
    <Box>
      <label>ID: <input bind:value={remoteId} /></label>
      <button on:click={makeCall}>Call</button>
    </Box>
  </Box>
  <Box fill>
    <!-- svelte-ignore a11y-media-has-caption -->
    <video autoplay playsinline muted use:srcObject={localStream} />
    <!-- svelte-ignore a11y-media-has-caption -->
    <video autoplay playsinline use:srcObject={remoteStream} />
  </Box>
</Box>

<style>
  video {
    height: 100%;
    width: 50%;
  }
</style>
